.idea
/logs
/data
/.project
.docker-sync
/docker/.dock-data
/docker/logs
/jenkins/jenkins_home

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode


# Laravel
public/js/
public/mix-manifest.json
public/css/
